/*scroll*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 9px rgb(0,0,0);
    border-radius: 1em;
}

::-webkit-scrollbar {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #52CF5B;
    border-radius: 1em;
}

/*body*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #38E35C;
}

/*header*/

header {
	background-color: #1EB13D;
	height: 5em;
	width: 100%;
	position: fixed;
}

.tableros {
	margin: 1%;
}

header form {
	display: inline-block;
}

header form input {
	background-color: #3CD05F;
	margin-top: 1%;
	width: 130%;
	padding: 0.7em 1%;
	border-radius: 0.5em;
	border: none;
}

.buscar{
	position: relative;
	display: inline-block;
	right: -1.5em;
}

.trello-logo {
	display: inline-block;
	position: relative;
	left: 22%;
	width: 9%;
}

.trello-logo:hover {
	width: 10%;
}

.mas {
	position: relative;
	left: 41em;
}

.perfil {
	display: inline-block;
	position: relative;
	left: 42%;
}

.foto-perfil {
	display: inline-block;
	width: 3em;
	height: 2.5em;
	margin-right: -3.2em;
}

.ico {
	position: relative;
	left: 46%;
}

.globe {
	background-color: #EF4949;
	position: relative;
	left: 46%;
}


/*contenedor general*/

#contenedor {
	white-space: nowrap;
	vertical-align: top;
	height: auto;
}

#tarjetasContenedor {
	display: inline-block;
	position: relative;
	top: 8em;
	left: 3%;
	width: 20%;
	margin-right: 5%;
	vertical-align: top;
	white-space: wrap; 
}

/*span*/

#anadirLista {
	vertical-align: top;
	position: relative;
	top: 4%;
	left: 4%;
	background-color: #2FC332;
	padding: 3% 20%;
	border-radius: 0.5em;
	cursor: pointer;
}

/*formulario*/

#formCreado {
	width: 100%;
	vertical-align: top;
	position: relative;
	left: 8%;
	padding: 3%;
	background-color: #E2E4E6;
	border-radius: 0.5em;
}

#inputCreado {
	width: 100%;
	display: block;
	border-radius: 0.5em;
	border: none;
	padding: 4% 3%;
}

#botonCreado {
	margin-top: 5%;
	padding: 2.5% 8%;
	background-color: #34BF31;
	border: none;
	border-radius: 0.5em;
}

/*elemntos creados desde js*/

#nombreLista {
	display: block;
	font-family: cursive;
	background-color: #E2E4E6;
	height: auto;
	padding: 3% 4%;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	word-wrap: break-word;
	width: 100%;
	vertical-align: top;
}

#anadirTarjeta {
	width: 100%;
	border: none;
	padding: 3% 0;
	background-color: #E2E4E6;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	vertical-align: top;
}

#anadirTarjeta:hover {
	background-color: #CDC9C9;
}

/*nuevo contenedor*/

.newDiv {
	margin-right: 2%;
	display: inline-block;
	position: relative;
	top: 8em;
	width: 20%;
	vertical-align: top;
}

/*textarea nuevo*/

.textArea {
	width: 100%;
	display: block;
	height: 6em;
	word-wrap: break-word;
	margin-bottom: 3%;
}

.newForm {
	padding: 3%;
	background-color: #E2E4E6;
}

.boton {
	padding: 3% 5%;
	background-color: #4DD957;
	border: none;
	border-radius: 0.5em;
}

.newTarjeta {
	background-color: #F3EDED;
	width: 100%;
	display: block;
	height: auto;
	padding: 2%;
	margin-top: 0.5em;
}

.contenedorTarjetas {
	margin-top: -0.5em;
	background-color: #E2E4E6;
	width: 100%;
	padding: 3%;
	/*
	border: 2px solid yellow;
	*/	
}