* {
	box-sizing: border-box;
	font-family: "Lobster Two";
}

body {
	background-color: #4FD759;
}

#tarjetas {
	display: inline-block;
	margin-left: 4%;
	margin-top: 4%;
}

.span {
	padding: 10%;
	background-color: #14B018;
	display: inline-block;
	width: 250%;
	height: 5%;
	border-radius: 0.4em;
	color: rgba(0, 0, 0, 0.6);
}

.span:hover {
	background-color: #1AA41A;
}

.botonCreado {
	display: inline-block;
	margin: 1% 0;
	width: 30%;
	height: 2%;
	padding: 1.5%;
	background-color: #5EB64B;
	border: none;
	border-radius: 0.4em;
	color: #FFF;
}

.contenedorCreado {
	display: inline-block;
	padding: 1%;
	background-color: #E2E4E6;
	border-radius: 0.4em;
}

.inputCreado {
	background-color: #D4D6D8;
	width: 100%;
	border-radius: 0.4em;
	padding-left: 3%;
	border: none;
	height: 3em;
	margin-bottom: 1%;
}
.nombreTarjeta {
	word-wrap: break-word;
	background-color: #E2DFDF;
	font-family: cursive;
	display: inline-block;
	border-radius: 0.4em;
	color: black;
	padding: 1em;
	width:19em;
	height: auto;
}
.buttonDos {
	border: none;
	padding: 3%;
	background-color: #14B018;
	display: inline-block;
	width: 75%;
	height: 5%;
	border-radius: 0.4em;
	color: rgba(0, 0, 0, 0.6);
}