/*scroll*/

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 9px rgb(0,0,0);
    border-radius: 1em;
}

::-webkit-scrollbar {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #52CF5B;
    border-radius: 1em;
}

/*body*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #38E35C;
}

/*header*/

header {
	background-color: #1EB13D;
	height: 5em;
	width: 100%;
	position: fixed;
}

.tableros {
	margin: 1%;
}

header form {
	display: inline-block;
}

header form input {
	background-color: #3CD05F;
	margin-top: 1%;
	width: 130%;
	padding: 0.7em 1%;
	border-radius: 0.5em;
	border: none;
}

.buscar{
	position: relative;
	display: inline-block;
	right: -1.5em;
}

.trello-logo {
	display: inline-block;
	position: relative;
	left: 22%;
	width: 100px;
}

.mas {
	position: relative;
	left: 41em;
}

.perfil {
	display: inline-block;
	position: relative;
	left: 42%;
}

.foto-perfil {
	display: inline-block;
	width: 3em;
	height: 2.5em;
	margin-right: -3.2em;
}

.ico {
	position: relative;
	left: 46%;
}

.globe {
	background-color: #EF4949;
	position: relative;
	left: 46%;
}


/*contenedor general*/
section{
	white-space: nowrap;
}

#contenedor {
	vertical-align: top;
	height: auto;
}

#listasContenedor {
	display: inline-block;
	position: relative;
	top: 8em;
	left: 3%;
	width: 20%;
	margin-right: 5%;
	vertical-align: top;
	/*white-space: wrap; */
}

/*span*/

#anadirLista-js {
	vertical-align: top;
	position: relative;
	top: 4%;
	left: 4%;
	background-color: #2FC332;
	padding: 3% 20%;
	border-radius: 0.5em;
	cursor: pointer;
}

/*formulario*/

#formHtml-js {
	margin-left: 1.7em;
	width: 95%;
	vertical-align: top;
	padding: 3%;
	background-color: #E2E4E6;
	border-radius: 0.5em;
}

#inputHtml-js {
	width: 100%;
	display: block;
	border-radius: 0.5em;
	border: none;
	padding: 4% 3%;
}

#botonHtml-js {
	margin-top: 5%;
	padding: 2.5% 8%;
	background-color: #34BF31;
	border: none;
	border-radius: 0.5em;
}

/*elemntos creados desde js*/

#nombreLista {
	margin-left: 2em;
	display: block;
	font-family: cursive;
	background-color: #E2E4E6;
	height: auto;
	padding: 3% 4%;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	word-wrap: break-word;
	width: 95%;
	vertical-align: top;
}

#anadirTarjeta {
	margin-left: 2em;
	width: 95%;
	border: none;
	padding: 3% 0;
	background-color: #E2E4E6;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	vertical-align: top;
}

#anadirTarjeta:hover {
	background-color: #CDC9C9;
}

/*nuevo contenedor*/

.nuevaFila {
	margin-right: 2%;
	display: inline-block;
	position: relative;
	top: 8em;
	width: 20%;
	vertical-align: top;
}

/*textarea nuevo*/

.textArea {
	width: 100%;
	display: block;
	height: 6em;
	word-wrap: break-word;
	margin-bottom: 3%;
	resize: none;
}

.newForm {
	padding: 3%;
	background-color: #E2E4E6;
}

.boton {
	padding: 3% 5%;
	background-color: #4DD957;
	border: none;
	border-radius: 0.5em;
}

.newTarjeta {
	background-color: #F3EDED;
	width: 100%;
	display: block;
	height: auto;
	padding: 2%;
	margin-top: 0.5em;
}

.contenedorTarjetas {
	margin-left: 2em;
	margin-top: -0.5em;
	background-color: #E2E4E6;
	width: 95%;
	padding: 3%;
	/*
	border: 2px solid yellow;
	*/	
}

@media (max-width: 1024px){
	header .tableros,
	header form,
	header form input,
	.buscar,
	.perfil,
	header button.ico,
	.globe,
	.mas{
		display: none;
	}
	.trello-logo{
		margin-top: 1em;
		margin-left: 23%;
	}
}
@media (max-width: 800px){
	#listasContenedor, .nuevaFila{
		width: 35%;
	}
}
@media (max-width: 600px){
	.trello-logo{
		margin-left: 20%;
	}
	#listasContenedor{
		display: block;
	}
	.nuevaFila{
		display: block;
		margin-top: 2em;
	}
	#listasContenedor, .nuevaFila{
		width: 100%;
		text-align: center;
	}
	#listasContenedor{
		margin-left: -5%;
	}
	.nuevaFila{
		margin-left: -2%;
	}
	#anadirTarjeta{
		margin-left: 1.9em;
	}
}
@media (max-width: 400px){
	
	#listasContenedor{
		margin-left: -7.3%;
	}
	.nuevaFila{
		margin-left: -4.2%;
	}
	#anadirTarjeta{
		margin-left: 2em;
	}
}
@media (max-width: 250px){
	#listasContenedor{
		margin-left: -11%;
	}
	.nuevaFila{
		margin-left: -8%;
	}
	#anadirTarjeta{
		margin-left: 2em;
	}
	#anadirLista-js{
		margin-left: 1.5em;
	}
}